
@model StudentManagement.ViewModels.HomeDetailsViewModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; ViewBag.Title = "Student Detailss";}

<div>@Model.PageTitle</div>
<div>ID: @Model.Student.Id</div>
<div>姓名: @Model.Student.Name</div>
<div>主修: @Model.Student.Major</div>


@section Scripts {
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
}