
@model HomeDetailsViewModel
@{ ViewBag.Title = "bag学生详情";}


<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@Model.Student.Name</h1>
            </div>

            <div class="card-body text-center">
                @*http://ku.90sjimg.com/element_origin_min_pic/00/37/26/5656d539c533154.jpg*@
                <img class="card-img-top" src="" alt="avatar"/>

                <h4>学生ID : @Model.Student.Id</h4>
                <h4>邮箱 : @Model.Student.Email</h4>
                <h4>主修科目名称 : @Model.Student.Major</h4>
            </div>
            <div class="card-footer text-center">
                <a href="#" class="btn btn-primary">返回</a>
                <a href="#" class="btn btn-primary">编辑</a>
                <a href="#" class="btn btn-danger">删除</a>
            </div>
        </div>
    </div>
</div>

